html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/128/731/738/warhammer-warhammer-40k-armor-battle-iron-hands-hd-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    margin-top: 0;
    width: 100%;
    height: 70px;
    background-color: #282828;
    overflow: hidden;
}

ul {
    width: auto;
    float: right;
    margin-top: 0px;
}

li {
    display: inline-block;
    padding: 15px 30px;
}

a {
    text-align: center;
    color: red;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.2vw;
}
/*Make sure to adjust the hover color so it contrats the background*/ 
a:hover {
    color: #F0c330;
    transition: 0.5s;
}

#content {
    display: flex;
    text-align: center;
    justify-content: center;
}